body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #602b7a;
    /**/
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    not supported by any browser */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
}
header div {
    display: inline-block;
    height: 50px;
    padding: 25px 5px;
    font-size: 40px;
}
header img {
    height: 60px;
    padding: 20px 5px;
    vertical-align: bottom;
}
header nav {
    height: auto;
    padding: 20px 5px;
    vertical-align: bottom;
}
header nav, header a {
	display: inline-block;
}
header a {
	position: relative;
	top: 0;
	box-sizing: border-box;
    height: 50px;
    padding: 8px 24px;
    margin: 5px;
    text-decoration: none;
    font-size: 32px;
    filter: none;
    transition: top .6s, filter .6s;
}
header .button-0 {
	border-radius: 0;
}
header .button-1 {
	border-radius: 5px;
}
header .button-2 {
	border-radius: 15px;
}
header .button-3 {
	border-radius: 30px;
}
header .hover-1:hover {
    -webkit-filter: hue-rotate(45deg);
	filter: hue-rotate(45deg);
}
header .hover-2:hover {
	top: -6px;
}
header .hover-3:hover {
	top: -6px;
    -webkit-filter: hue-rotate(45deg);
	filter: hue-rotate(45deg);
}

main {
    max-width: 800px;
    margin: 120px auto 40px;
}

main div {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* add this if inline-style property is empty */
}

main .center {
    width: 800px;
    height: 400px;
	margin: 20px 0;
}
main .left {
    float: left;
    width: 400px;
    height: 400px;
	margin: 20px 20px 20px 0;
}
main .right {
	float: right;
	width: 400px;
    height: 400px;
	margin: 20px 0 20px 20px;
}

main .class-error {
    box-sizing: border-box;
    width: 800px;
    height: 100px;
	margin: 20px 0;
    padding: 20px;
    border: 5px solid #ff0000;
    text-align: center;
    color:#ff0000;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

footer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 5px;
    text-align: center;
    font-size: 18px;
	font-weight: 700;
}

@media (max-width: 860px) {
    header div {
        height: 40px;
        font-size: 30px;
    }
    header img {
        height: 50px;
    }
    header a {
        height: 40px;
        padding: 6px 24px;
        font-size: 24px;
    }
    header .button-3 {
        border-radius: 25px;
    }
    
    main {
        max-width: 600px;
    }
    
    main .center {
        width: 600px;
        height: 300px;
    }
    main .left, main .right {
        width: 300px;
        height: 300px;
    }
    
    main .class-error {
        width: 600px;
        height: 120px;
        padding: 15px;
    }
}

@media (max-width: 640px) {
    header div {
        height: 30px;
        padding: 15px 5px;
        font-size: 20px;
    }
    header img {
        height: 36px;
        padding: 12px 5px;
    }
    header nav {
        padding: 15px 5px;
    }
    header a {
        height: 30px;
        padding: 6px 24px;
        margin: 5px;
        font-size: 16px;
    }
    header .button-2 {
        border-radius: 10px;
    }
    header .button-3 {
        border-radius: 15px;
    }
    
    main {
        max-width: 400px;
    }
    
    main .center {
        width: 400px;
        height: 200px;
        margin: 20px 0;
    }
    main .left, main .right {
        width: 200px;
        height: 200px;
    }
    
    main .class-error {
        width: 400px;
        height: 150px;
    }
}

@media (max-width: 430px) {
    main {
        max-width: 300px;
    }
    
    main .center, main .left, main .right {
        float: none;
        width: 300px;
        height: 150px;
        margin: 10px 0;
    }
    
    main .class-error {
        width: 300px;
        height: 150px;
    }
}

@media (max-width: 320px) {
    main {
        max-width: 240px;
    }
    
    main .center, main .left, main .right {
        width: 240px;
        height: 120px;
        margin: 10px 0;
    }
    
    main .class-error {
        width: 240px;
        height: 120px;
    }
}